/* CSS DA PAGINA */
body {
    padding-top: 50px;
    background-color: palegreen;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 70px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.logo-hv{
    display: block;
    margin: auto;
    position: relative;
    max-width: 400px;

}

h1{
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}



/* CSS CONTATOS */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
    padding: 30px 0px 60px;
}

#title-resultados {
    font-size: 25px;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}


/* CSS TABELA DE RESULTADOS */

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#2c6fb7;


}
.CSSTableGenerator td{
	vertical-align:middle;

	background-color:#80b3e5;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#fffcfc;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #033970 5%, #0764c1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #033970), color-stop(1, #0764c1) );
	background:-moz-linear-gradient( center top, #033970 5%, #0764c1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#033970", endColorstr="#0764c1");	background: -o-linear-gradient(top,#033970,0764c1);

	background-color:#033970;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffaa;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #033970 5%, #0764c1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #033970), color-stop(1, #0764c1) );
	background:-moz-linear-gradient( center top, #033970 5%, #0764c1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#033970", endColorstr="#0764c1");	background: -o-linear-gradient(top,#033970,0764c1);

	background-color:#033970;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
